body{
    font-family: 'Roboto', sans-serif;
}
.vertical-mid{
    vertical-align: middle;
    text-align: center;
}
.circle-img{
    border-radius:100%;
    object-fit: cover;;
    width: 32px;
    height: 32px;
}

html{
    scroll-behavior: smooth;
}


.text-footer{
    font-size:12px;
    
}

.blurred-bg{
    backdrop-filter: blur(400px);
    border:50px;
    border-color: rgba(179, 179, 179, 1);
    border-radius:40px;
    background: linear-gradient(90deg, rgba(79, 79, 179, 0.1) 0%, rgba(79, 179, 179, 0.1))
}
.steam-card{
    backdrop-filter: blur(400px);
    border:50px;
    border-color: rgba(179, 179, 179, 1);
    border-radius:50px;
    background: linear-gradient(180deg, rgba(127, 0, 255, 0.3) 0%, rgba(225, 0, 255, 0.3))
}
.steam-badges{
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

.bg-indigo {
    background-color: var(--bs-indigo);
}

.img-transform-badge:hover{
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}